# Working with JSON files

In this project, we'll be looking at tracking corporate bankruptcies in Taiwan. To do that, we'll need to get data that's been stored in a JSON file, explore it, and turn it into a DataFrame that we'll use to train our model.

In [1]:
import gzip
import json

import pandas as pd

# Prepare Data

## Open

The file we're using for this project is compressed, so we'll need to use a file utility called gzip to open it up.

In [2]:
%%bash

cd data
gzip -dkf taiwan-bankruptcy-data.json.gz

 Using a context manager, I'll  open the file and load it as a dictionary with the variable name taiwan_data

In [3]:
# Load data file
with gzip.open("data/taiwan-bankruptcy-data.json.gz", "r") as read_file:
    taiwan_data = json.load(read_file)

print(type(taiwan_data))

<class 'dict'>

# Explore

Okay! Now that we've successfully opened up our dataset, let's take a look and see what's there, starting with the keys. Remember, the keys in a dictionary are categories of things in a dataset.

In [4]:
taiwan_data_keys = taiwan_data.keys()
print(taiwan_data_keys)

dict_keys(['schema', 'metadata', 'observations'])

schema is the formal description of the structure and constraints of a dataset, metadata tells us where the data comes from, and observations is the data itself

Now let's take a look at the values. Remember, the values in a dictionary are ways to describe the variable that belongs to a key.

In [5]:
# more exploration
taiwan_data["metadata"]

{'title': 'Financial ratios and corporate governance indicators in bankruptcy prediction: A comprehensive study',
 'authors': 'Deron Liang, Chia-Chi Lu, Chih-Fong Tsai, Guan-An Shih',
 'journal': 'European Journal of Operational Research',
 'publicationYear': 2016,
 'articleLink': 'https://doi.org/10.1016/j.ejor.2016.01.012',
 'datasetLink': 'https://archive.ics.uci.edu/ml/datasets/Taiwanese+Bankruptcy+Prediction'}

In [7]:
# More exploration
taiwan_data["schema"].keys()

dict_keys(['fields', 'primaryKey', 'pandas_version'])

In [11]:
# More exploration
taiwan_data["observations"][0]

{'id': 1,
 'bankrupt': True,
 'feat_1': 0.3705942573,
 'feat_2': 0.4243894461,
 'feat_3': 0.4057497725,
 'feat_4': 0.6014572133,
 'feat_5': 0.6014572133,
 'feat_6': 0.9989692032,
 'feat_7': 0.7968871459,
 'feat_8': 0.8088093609,
 'feat_9': 0.3026464339,
 'feat_10': 0.7809848502,
 'feat_11': 0.0001256969,
 'feat_12': 0.0,
 'feat_13': 0.4581431435,
 'feat_14': 0.0007250725,
 'feat_15': 0.0,
 'feat_16': 0.1479499389,
 'feat_17': 0.1479499389,
 'feat_18': 0.1479499389,
 'feat_19': 0.1691405881,
 'feat_20': 0.3116644267,
 'feat_21': 0.0175597804,
 'feat_22': 0.0959205276,
 'feat_23': 0.1387361603,
 'feat_24': 0.0221022784,
 'feat_25': 0.8481949945,
 'feat_26': 0.6889794628,
 'feat_27': 0.6889794628,
 'feat_28': 0.2175353862,
 'feat_29': 4980000000.0,
 'feat_30': 0.0003269773,
 'feat_31': 0.2630999837,
 'feat_32': 0.363725271,
 'feat_33': 0.0022589633,
 'feat_34': 0.0012077551,
 'feat_35': 0.629951302,
 'feat_36': 0.0212659244,
 'feat_37': 0.2075762615,
 'feat_38': 0.7924237385,
 'feat_39': 0.0050244547,
 'feat_40': 0.3902843544,
 'feat_41': 0.0064785025,
 'feat_42': 0.095884834,
 'feat_43': 0.1377573335,
 'feat_44': 0.3980356983,
 'feat_45': 0.0869565217,
 'feat_46': 0.0018138841,
 'feat_47': 0.0034873643,
 'feat_48': 0.0001820926,
 'feat_49': 0.0001165007,
 'feat_50': 0.0329032258,
 'feat_51': 0.034164182,
 'feat_52': 0.3929128695,
 'feat_53': 0.0371353016,
 'feat_54': 0.6727752925,
 'feat_55': 0.1666729588,
 'feat_56': 0.1906429591,
 'feat_57': 0.004094406,
 'feat_58': 0.0019967709,
 'feat_59': 0.000147336,
 'feat_60': 0.1473084504,
 'feat_61': 0.3340151713,
 'feat_62': 0.2769201582,
 'feat_63': 0.00103599,
 'feat_64': 0.6762691762,
 'feat_65': 0.7212745515,
 'feat_66': 0.3390770068,
 'feat_67': 0.025592368,
 'feat_68': 0.9032247712,
 'feat_69': 0.002021613,
 'feat_70': 0.0648557077,
 'feat_71': 701000000.0,
 'feat_72': 6550000000.0,
 'feat_73': 0.593830504,
 'feat_74': 458000000.0,
 'feat_75': 0.6715676536,
 'feat_76': 0.4242057622,
 'feat_77': 0.6762691762,
 'feat_78': 0.3390770068,
 'feat_79': 0.1265494878,
 'feat_80': 0.6375553953,
 'feat_81': 0.4586091477,
 'feat_82': 0.5203819179,
 'feat_83': 0.3129049481,
 'feat_84': 0.1182504766,
 'feat_85': 0,
 'feat_86': 0.7168453432,
 'feat_87': 0.00921944,
 'feat_88': 0.6228789594,
 'feat_89': 0.6014532901,
 'feat_90': 0.827890214,
 'feat_91': 0.2902018928,
 'feat_92': 0.0266006308,
 'feat_93': 0.5640501123,
 'feat_94': 1,
 'feat_95': 0.0164687409}

Now let's  Calculate the number of companies included in the dataset.

In [12]:
n_companies = len(taiwan_data["observations"])
print(n_companies)

6137

Next I'll Calculate the number of features associated with each company and assign the result to n_features

In [14]:
n_features = len(taiwan_data["observations"][0])
print(n_features)

97

Since we're dealing with data stored in a JSON file, which is common for semi-structured data, we can't assume that all companies have the same features. So let's check!

In [16]:
for items in taiwan_data["observations"]:
    if len(items) != 97:
        print("ALERT!!!")
else:
    print("EVERYTHING IS IN ORDER!!!")

EVERYTHING IS IN ORDER!!!

Next I'll Create a DataFrame df that contains the all companies in the dataset, indexed by "id".

In [18]:
# Create a DataFrame from a dictionary in pandas.
df = pd.DataFrame().from_dict(taiwan_data["observations"]).set_index("id")
print(df.shape)
df.head()

(6137, 96)

,bankrupt,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,feat_94,feat_95
id,,,,,,,,,,,,,,,,,,,,,
1,True,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
2,True,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
3,True,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
4,True,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
5,True,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

Next I'll Create a wrangle function that takes as input the path of a compressed JSON file and returns the file's contents as a DataFrame.

In [19]:
# Create wrangle function
def wrangle(filename):
    # open compressed file,load into dict
    with gzip.open(filename,"r") as f:
        data = json.load(f)
        
    # turn dict into dataframe
    df = pd.DataFrame().from_dict(data["observations"]).set_index("id")
    
    return df

In [20]:
df = wrangle("data/taiwan-bankruptcy-data.json.gz")
print("df shape:", df.shape)
df.head()

df shape: (6137, 96)

,bankrupt,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,feat_94,feat_95
id,,,,,,,,,,,,,,,,,,,,,
1,True,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
2,True,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
3,True,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
4,True,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
5,True,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490